@import 'primevue/resources/themes/saga-blue/theme.css';
@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Nekst-Black';
    src: url('@/assets/fonts/Nekst-Black/Nekst-Black.woff2') format('woff2'),
        url('@/assets/fonts/Nekst-Black/Nekst-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

.page {
    min-height: 100vh;
    padding: 15px;
}
