@import 'primevue/resources/themes/saga-blue/theme.css';
@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Nekst-Black';
    src: url('@/assets/fonts/Nekst-Black/Nekst-Black.woff2') format('woff2'),
        url('@/assets/fonts/Nekst-Black/Nekst-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

.page {
    min-height: 100vh;
    padding: 15px;
    display: flex;

    &__calculator {
        margin: auto;
        width: 100%;
        max-width: 1440px;
    }
}

.btn {
    display: inline-block;
    min-width: 92px;
    min-height: 48px;
    padding: 5px 25px;
    border: 0;
    background-color: #ff9514;
    border-radius: 40px;
    font-family: 'Nekst-Black';
    font-weight: 900;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: #111111;
        color: #fff;
    }

    &:active {
        background-color: #575757;
    }

    &:disabled {
        background-color: rgba(255, 149, 20, 0.4);
        cursor: default;
    }

    &.hover {
        background-color: #111111;
        color: #fff;
    }

    &.active {
        background-color: #575757;

        &:hover {
            background-color: #575757;
        }

        &:active {
            background-color: #575757;
        }

        &:disabled {
            background-color: #575757;
        }
    }

    &.disabled {
        background-color: rgba(255, 149, 20, 0.4);
        cursor: default;

        &:hover {
            background-color: rgba(255, 149, 20, 0.4);
        }

        &:active {
            background-color: rgba(255, 149, 20, 0.4);
        }

        &:disabled {
            background-color: rgba(255, 149, 20, 0.4);
        }
    }

    &.loading {
        background-image: url('@/assets/img/loading.svg');
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            background-color: #ff9514;
        }

        &:active {
            background-color: #ff9514;
        }

        &:disabled {
            background-color: #ff9514;
        }
    }

    @media (max-width: 1024px) {
        max-width: 345px;
    }

    @media (max-width: 480px) {
        font-size: 22px !important;
    }
}
