.elements-state {
    &__title {
        font-family: 'Nekst-Black';
        font-weight: 900;
        font-size: 30px;
        color: #575757;
        margin-bottom: 50px;
    }

    &__row {
        &--btns {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 60px;
        }
    }

    &__btn {
        margin: 1rem;
        flex-grow: 0 0 auto;
    }
}
