.calculator-field {
    &__input {
        background-color: #f3f3f4 !important;
        border-top-left-radius: 16px !important;
        border-bottom-left-radius: 16px !important;
        padding-left: 24px !important;
        padding-right: 24px !important;
        border-right: 0 !important;
        border-top: 2px solid transparent !important;
        border-bottom: 2px solid transparent !important;
        border-left: 2px solid transparent !important;
        height: 68px !important;
        font-family: 'Nekst-Black' !important;
        font-weight: 900 !important;
        font-size: 30px !important;
        color: #575757 !important;
        transition: none !important;

        &:focus {
            background-color: #fff !important;
            box-shadow: none !important;
            outline: 0 !important;
            border-top: 2px solid #f3f3f4 !important;
            border-bottom: 2px solid #f3f3f4 !important;
            border-left: 2px solid #f3f3f4 !important;

            & + .calculator-field__info {
                background-color: #fff !important;
                border-top: 2px solid #f3f3f4 !important;
                border-right: 2px solid #f3f3f4 !important;
                border-bottom: 2px solid #f3f3f4 !important;
            }
        }

        @media (max-width: 480px) {
            height: 60px !important;
            font-size: 22px !important;
        }
    }

    &__info {
        border-top-right-radius: 16px !important;
        border-bottom-right-radius: 16px !important;
        border: 0 !important;
        background-color: #f3f3f4 !important;
        font-family: 'Nekst-Black' !important;
        font-weight: 900 !important;
        font-size: 30px !important;
        padding-right: 24px !important;
        border-top: 2px solid transparent !important;
        border-right: 2px solid transparent !important;
        border-bottom: 2px solid transparent !important;

        @media (max-width: 480px) {
            font-size: 22px !important;
        }

        &--percent {
            font-family: 'Nekst-Black' !important;
            font-weight: 900 !important;
            font-size: 20px !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-right: 0.5rem !important;

            & span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 68px;
                height: 54px;
                background-color: #ebebec;
                border-radius: 16px;

                @media (max-width: 480px) {
                    width: 67px;
                    height: 48px;
                }
            }
        }
    }

    &__range {
        position: relative;
        z-index: 1;
        height: 2px !important;
        background-color: #fff;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: -2px;

        .p-slider-handle {
            width: 20px !important;
            height: 20px !important;
            border: 0 !important;
            background-color: #ff9514 !important;
        }

        .p-slider-range {
            height: 2px !important;
            background-color: #ff9514 !important;
        }
    }
}
