.calculator {
    &__body {
        display: flex;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
        margin-top: -45px;

        @media (max-width: 1024px) {
            margin-top: -30px;
            margin-right: 0;
            margin-left: 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 0 0 auto;
        width: calc(33.333% - 10px);
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 45px;

        @media (max-width: 1024px) {
            width: 100%;
            margin-top: 30px;
            margin-right: 0;
            margin-left: 0;

            &--five-percent {
                width: 50%;

                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }

    &__name {
        margin-bottom: 24px;

        @media (max-width: 480px) {
            font-size: 14px;
            margin-bottom: 8px;
        }
    }

    &__result {
        font-family: 'Nekst-Black';
        font-weight: 900;
        font-size: 54px;
        line-height: 0.9;
        color: #575757;

        @media (max-width: 480px) {
            font-size: 22px !important;
        }
    }

    &__btn {
        &.btn {
            width: 100%;
            padding: 16px;
            font-size: 30px;
        }
    }
}
